In [1]:
import pandas as pd

In [2]:
df=pd.read_html("https://bellcurve.jp/statistics/course/8893.html")[0]
df

      0     1        2
0   No.  都道府県  全スクリーン数
1     1    兵庫      126
2     2    大阪      224
3     3    奈良       34
4     4    岩手       25
5     5    千葉      199
6     6    茨城       89
7     7    福岡      178
8     8    山梨       14
9     9    滋賀       38
10   10    鳥取       11
11    ―    平均     93.8

In [3]:
arr=df.values
arr

array([['No.', '都道府県', '全スクリーン数'],
       ['1', '兵庫', '126'],
       ['2', '大阪', '224'],
       ['3', '奈良', '34'],
       ['4', '岩手', '25'],
       ['5', '千葉', '199'],
       ['6', '茨城', '89'],
       ['7', '福岡', '178'],
       ['8', '山梨', '14'],
       ['9', '滋賀', '38'],
       ['10', '鳥取', '11'],
       ['―', '平均', '93.8']], dtype=object)

In [5]:
col=arr[0]
val=arr[1:len(arr)-1]
df=pd.DataFrame(val)
df.columns=col
df

  No. 都道府県 全スクリーン数
0   1   兵庫     126
1   2   大阪     224
2   3   奈良      34
3   4   岩手      25
4   5   千葉     199
5   6   茨城      89
6   7   福岡     178
7   8   山梨      14
8   9   滋賀      38
9  10   鳥取      11

In [7]:
import scipy.stats as stats
import numpy as np

In [38]:
arr=df["全スクリーン数"].astype(int).values
#var=np.var(arr)
var=5560
mean=np.mean(arr)
sample_num=len(arr)
nrange=stats.norm(loc=mean,scale=np.sqrt(var/sample_num))
low,high=nrange.interval(alpha=0.95)
print("%.2f<=x<=%.2f"%(low,high))

47.58<=x<=140.02